{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block content%}
    {% endblock %}
    <footer>
        <div class="main">
            <div class="content footer-links">
                <div class="footer-company">
                    <h4>Grupo <strong>Modi</strong></h4>
                    <div class="company">
                        <h6>(91) 9 9616-2402</h6>
                        <h6>help@modidigital.site</h6>
                        <h6>Empresa 100% Digital</h6>
                        <h6>Experiência em DEV</h6>
                        <h5 class="privacidade">Termos de uso <br>
                            Políticas de privacidade
                        </h5>
                    </div>    
                </div>
                <div class="footer-rental">
                    <a href="/" style="text-decoration: none;">
                        <h4 id="h4-inicio">Inicio</h6>
                    </a>
                    <a href="/" style="text-decoration: none;">
                        <h4>Serviços</h6>
                    <a href="/" style="text-decoration: none;">
                        <h4>Quem somos?</h6>
                    </a>
                    <a href="/" style="text-decoration: none;">
                        <h4>Blog</h6>
                    </a>
                    <button type="button" class="btn btn-success">Experimente</button>
                </div>
                <div class="footer-social">
                    <h4>Receba nossas promoções</h4>
                    <h6>Email*</h6>
                    <input type="email" placeholder="   Coloque seu email aqui">
                    <br>
                    <button type="button" class="btn btn-dark">Enviar</button>
                </div>
                <div class="social-icons">
                    <h5>Encontre-nos</h5>
                        <a href="https://www.instagram.com/gui_leoni14/" target="_blank"><img
                                src="../../static/img/face.png" alt="Instagram" /></a>
                        <a href="https://api.whatsapp.com/send?phone=5535999979041&text=Oii%2C%20adorei%20seu%20site!%20Podemos%20conversar%3F"
                            target="_blank"><img src="../../static/img/twt.png" alt="whatsapp"
                                id="whatsapp-img" /></a>
                        <a href="https://www.facebook.com/profile.php?id=100008991276235" target="_blank"><img
                                src="../../static/img/insta.png" alt="Instagram" /></a>
                        <a href="https://www.facebook.com/profile.php?id=100008991276235" target="_blank"><img
                                src="../../static/img/in.png" alt="Instagram" /></a>
                        <h6>© 2021 Modi Digital  - Todos</h6>
                        
                </div>
            </div>
        </div>
    </footer>
</body>

</html>