{% extends 'base.html' %}
{% block title %}Mide{% endblock %}
{% block content %}
<div class="container-nav">
    <div class="row ">
        <div class="index-title col-7 text-end ">
            <h1>
                Todos os recursos que seu negócio precisa estão aqui
            </h1>
            <h6>Crie o futuro perfeito da sua marca com a gente.</h6>
            <div class="index-botoes">
                <a href="#" class="text-end">
                    <button class="btn btn-success"  id="btn-comecar">Começar</button>
                </a>
                <a href="#" class="text-start">
                    <button class="btn btn-success"  id="btn-ver-servicos">Ver serviços</button>
                </a>
            </div>
        </div>
        <div class="img-index col-4 ">
            <img  src="../../static/img/imgindex.png" alt="">
        </div>
    </div>
</div>
</nav>
{% endblock %}