{% extends 'base.html' %}
{% block title %}Mide{% endblock %}
{% block content %}
<div class="col-8 m-auto pt-4 pb-2 text-center">
    <div id="result"> </div>
    <form name="formem" id="formem" action="/registro/" method="post">
        {% csrf_token %}
        <br>
        <h3>Preencha os atributos: </h3>
        <div class="row">
            <div class="col-4 p-2 text-end">
                Nome:
            </div>
            <div class="col-8 p-2 text-start">
                <input type="text" name="nome" />
            </div>
        </div>
        <div class="row">
            <div class="col-4 p-2 text-end">
                Sobrenome:
            </div>
            <div class="col-8 p-2  text-start">
                <input type="text" name="sobrenome" />
            </div>
        </div>
        <div class="row">
            <div class="col-4 p-2 text-end">
                Email:
            </div>
            <div class="col-8 p-2 text-start">
                <input type="email" name="email" />
            </div>
        </div>
        <div class="row">
            <div class="col-4 p-2 text-end">
                whatsapp:
            </div>
            <div class="col-8 p-2 text-start">
                <input type="text" name="whatsapp" />
            </div>
        </div>
        <div class="row">
            <div class="col-4 p-2 text-end">
                data de Nascimento:
            </div>
            <div class="col-8 p-2 text-start">
                <input type="date" name="data_nascimento" />
            </div>
        </div>
        <div class="p-2">
            <a href="{% url 'home' %}" class="btn btn-info mt-4">Voltar</a>
            <input type="submit" class="btn btn-success mt-4" id="salvar" value="Salvar">
        </div>
</div>
</nav>
{% endblock %}